.single-song-page {
    /* border: solid red; */
    border-radius: 16px;
    padding: 40px;
    background-color: #312039;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


.single-song-page h4 {
    font-size: 14px;
    font-weight: 300;
    margin: 8px 0px;
}

.single-song-page h1 {
    margin: 12px 0px;
}

.single-song-page img {
    height: 200px;
    width: 200px;
    border-radius: 4px;
}

.single-song-page button {
    width: 100%;
}

/* Title and Favoites Icon */

.title-likes {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.title-likes svg {
    padding: 0px;
    height: 100%;
}

.title-likes li {
    /* border: solid red; */
    display: flex;
    align-items: center;
}

/* Song Image and Info Container */

.song-img-info {
    /* border: dashed yellow; */
    display: flex;
    column-gap: 60px;
    align-items: center;
}

@media only screen and (max-width: 735px) {
    .song-img-info {
        flex-direction: column;
        justify-content: center;
        row-gap: 12px;
    }
    .song-info div {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

/* Edit and Delete Song buttons */

.buttons#song-page {
    /* border: solid red; */
    width: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.buttons#song-page button {
    border-radius: 2px;
}

/* Lyrics and Translation */

.lyrics-translation-container {
    /* border: dashed yellow; */
    display: flex;
    margin-top: 40px;
}

.lyrics,
.translation {
    width: 50%;
}

/* Check Likes icon */

svg#like-icon:hover {
    /* border: solid red; */
    color: rgb(255, 197, 5);
    cursor: pointer;
}

/* Info buttons */

.info button {
    /* border: solid red; */
    margin: 12px 0px;
}

.info button#play {
    /* border: dashed yellow; */
    column-gap: 8px;
}