.modal#create-playlist form,
.modal#create-playlist label {
    display: flex;
    flex-direction: column;
}

.modal#create-playlist label {
    text-align: left;
    font-weight: 300;
}

.modal#create-playlist form {
    row-gap: 16px;
}

.modal label {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 200;
    row-gap: 8px;
}

.modal p {
    font-size: 20px;
    margin: 12px 0px;
}

.warning {
    color: rgb(205, 36, 36);
}


