.signup-form,
.signup-form label {
    display: flex;
    flex-direction: column;
    text-align: left;
    row-gap: 8px;
    font-weight: 300;
}

.modal {
    overflow: scroll;
}

.modal#sign-up {
    width: 500px;
    height: 500px;
}

.modal#sign-up button {
    height: 28px;
    font-size: 16px;
    margin: 16px 0px;
}

@media only screen and (max-width: 635px){
    .modal#sign-up {
        width: 200px;
    }
}