/* TODO: Add sitewide styles */

/* General Styling */

html {
    background-color: #121212;
    color: whitesmoke;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: #d07dfb;
}

button:hover,
svg:hover {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

h3, h4 {
    margin: 0;
}

h3 {
    color: #e0a3fd;
}

h1 {
    color: #e7b6fe;
}

p {
    color: #8b8b8b;
}