.modal-form,
.modal-form label {
    display: flex;
    flex-direction: column;
}

.modal-form {
    row-gap: 16px;
}

.modal-form label {
    text-align: left;
    font-weight: 300;
}

.modal#login {
    /* border: solid red; */
    width: 300px;
}

.modal h1 {
    font-size: 24px;
    margin: 8px 0px;
}

.modal {
    display: flex;
    flex-direction: column;
}

.modal label {
    row-gap: 4px;
}


.modal#login button,
.modal#create-playlist button {
    margin: 10px 0px;
    height: 28px;
    font-size: 16px;
}

.modal button {
    height: 28px;
    font-size: 16px;
    margin: 8px 0px;
}


