/* Song Tiles */

.song-tile {
    /* border: solid green; */
    width: 180px;
    font-size: 14px;
}

.song-tile-title {
    /* border: dashed yellow; */
    display: flex;
    width: 80%;
    height: 20px;
}

.song-tile-title span {
    /* border: solid red; */
    width: 100%;
}

.likes-star {
    /* border: dotted pink; */
    height: 100%;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.song-tile-title a {
    color: #e7b6fe;
}


.song-tile a:hover {
    color: #d890fc;
}

.song-tile img {
    /* border: dotted magenta; */
    border-radius: 8px;
    height: 220px;
    width: 220px;
    padding: 0px;
    z-index: 1;
}

.song-tile h4,
.song-tile p {
    margin: 0px;
}

.song-tile h4 {
    font-weight: 500;
}

.add-playlist-song {
    /* border: solid red; */
    background-color: #e7b6fe;
    height: 16px;
    z-index: 1;
    position: absolute;
    opacity: 70%;
}


.favorite-add {
    /* border: dashed purple; */
    display: flex;
    column-gap: 8px;
}


/* Songs Page */

.songs-page {
    /* border: solid red; */
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #312039;
    row-gap: 20px;
}

.title-button {
    /* border: solid red; */
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.title-button h2 {
    margin: 0;
}

.title-button button {
    border: none;
    height: 32px;
    border-radius: 8px;
    background-color: #d07dfb;
    font-weight: 600;
    color: #282828;
}

.title-button button:hover {
    background-color: #c769f9;
    color: #3f3f3f;
    transform: scale(105%);
}

.songs-page h1,
.songs-page h2 {
    margin: 10px 0px;
}

.songs-page h1 {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

/* Song Tiles Container */

.songs-container {
    /* border: solid red; */
    max-width: 1360px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 12px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.songs-container img {
    height: 180px;
    width: 180px;
}

.songs-container#user-faves {
    /* border: solid red; */
    width: 100%;
    padding: 0px;
    margin: 0px;
}

/* Responsive Design */

@media only screen and (max-width: 600px) {
    .songs-container {
        max-width: 200px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 638px) {
    .songs-container {
        /* border: dotted; */
        max-width: 380px;
    }
}

@media only screen and (min-width: 639px) and (max-width: 900px) {
    .songs-container {
        /* border: dotted; */
        max-width: 570px;
    }
}

@media only screen and (min-width: 821px) and (max-width: 990px) {
    .songs-container {
        /* border: dotted; */
        max-width: 790px;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1100px) {
    .songs-container {
        /* border: dotted; */
        max-width: 980px;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    .songs-container {
        /* border: dotted; */
        max-width: 1000px;
    }
}



