/* Song Tiles */

.song-tile {
    /* border: solid green; */
    width: fit-content;
}

.song-tile a {
    color: #e7b6fe;
}

.song-tile a:hover {
    color: #d890fc;
}

.song-tile img {
    /* border: dotted magenta; */
    border-radius: 8px;
    height: 220px;
    width: 220px;
    padding: 0px;
}

.song-tile h4,
.song-tile p {
    margin: 0px;
}

.favorite-add {
    /* border: dashed purple; */
    display: flex;
    column-gap: 8px;
}


/* Songs Page */

.songs-page {
    /* border: solid red; */
    border-radius: 16px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #282828;
    row-gap: 20px;
}

.title-button {
    /* border: solid red; */
    display: flex;
    column-gap: 20px;
}

.title-button h2 {
    margin: 0;
}

.title-button button {
    border: none;
    border-radius: 8px;
    background-color: #d07dfb;
    font-weight: 600;
    color: #282828;
}

.title-button button:hover {
    background-color: #c769f9;
    color: #3f3f3f;
    transform: scale(105%);
}

/* Song Tiles Container */

.songs-container {
    /* border: solid red; */
    max-width: 1360px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    row-gap: 12px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.songs-container img {
    height: 180px;
    width: 180px;
}

/* Responsive Design */

@media only screen and (max-width: 600px) {
    .songs-container {
        max-width: 200px;
    }
}

@media only screen and (min-width: 630px) and (max-width: 900px) {
    .songs-container {
        /* border: dotted; */
        max-width: 570px;
    }
}

@media only screen and (min-width: 821px) and (max-width: 990px) {
    .songs-container {
        /* border: dotted; */
        max-width: 790px;
    }
}

@media only screen and (min-width: 990px) and (max-width: 1100px) {
    .songs-container {
        /* border: dotted; */
        max-width: 980px;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1200px) {
    .songs-container {
        /* border: dotted; */
        max-width: 1000px;
    }
}



