.music-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-player {
  width: 100%;
}

.react-audio-player {
  color: #d07dfb;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
  background-color: lightgray;
  color: lightgray;
}